# Install Keras, tensorflow, theano libraries in your Environment

## Part 1 . Data Preprocessing

## 1. Importing Libraries

In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

## 2. Import Datasets

In [2]:
dataset = pd.read_csv("Churn_Modelling.csv")
dataset

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [3]:
# Build a matrix X(Independent variables) leaving the unique identifiers
X = dataset.iloc[:,3:13].values
print(X)

[[619 'France' 'Female' ... 1 1 101348.88]
 [608 'Spain' 'Female' ... 0 1 112542.58]
 [502 'France' 'Female' ... 1 0 113931.57]
 ...
 [709 'France' 'Female' ... 0 1 42085.58]
 [772 'Germany' 'Male' ... 1 0 92888.52]
 [792 'France' 'Female' ... 1 0 38190.78]]

In [4]:
y = dataset.iloc[:,13].values
y

array([1, 0, 1, ..., 1, 1, 0], dtype=int64)

## 3. Encoding the categorical variable present in X
- We can perform dummy variable encoding by splitting categorical an numerical variable 
### OR
- Perform label encoding on Categorical varibale columns and then perform one hot encoding

In [5]:
# Label Encoding on Geograpy
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
LabelEncoder_X_1 = LabelEncoder()
X[:, 1] = LabelEncoder_X_1.fit_transform(X[:, 1])
print(X)

[[619 0 'Female' ... 1 1 101348.88]
 [608 2 'Female' ... 0 1 112542.58]
 [502 0 'Female' ... 1 0 113931.57]
 ...
 [709 0 'Female' ... 0 1 42085.58]
 [772 1 'Male' ... 1 0 92888.52]
 [792 0 'Female' ... 1 0 38190.78]]

In [6]:
# Label Encoding on Gender
LabelEncoder_X_2 = LabelEncoder()
X[:, 2] = LabelEncoder_X_2.fit_transform(X[:, 2])
print(X)

[[619 0 0 ... 1 1 101348.88]
 [608 2 0 ... 0 1 112542.58]
 [502 0 0 ... 1 0 113931.57]
 ...
 [709 0 0 ... 0 1 42085.58]
 [772 1 1 ... 1 0 92888.52]
 [792 0 0 ... 1 0 38190.78]]

In [7]:
# Perform one hot encoding on geaograpy so all region means equal
onehotencoder = OneHotEncoder(categorical_features = [1])
X = onehotencoder.fit_transform(X).toarray()
print(X)

[[1.0000000e+00 0.0000000e+00 0.0000000e+00 ... 1.0000000e+00
  1.0000000e+00 1.0134888e+05]
 [0.0000000e+00 0.0000000e+00 1.0000000e+00 ... 0.0000000e+00
  1.0000000e+00 1.1254258e+05]
 [1.0000000e+00 0.0000000e+00 0.0000000e+00 ... 1.0000000e+00
  0.0000000e+00 1.1393157e+05]
 ...
 [1.0000000e+00 0.0000000e+00 0.0000000e+00 ... 0.0000000e+00
  1.0000000e+00 4.2085580e+04]
 [0.0000000e+00 1.0000000e+00 0.0000000e+00 ... 1.0000000e+00
  0.0000000e+00 9.2888520e+04]
 [1.0000000e+00 0.0000000e+00 0.0000000e+00 ... 1.0000000e+00
  0.0000000e+00 3.8190780e+04]]

C:\Users\Dell\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)
C:\Users\Dell\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:451: DeprecationWarning: The 'categorical_features' keyword is deprecated in version 0.20 and will be removed in 0.22. You can use the ColumnTransformer instead.
  "use the ColumnTransformer instead.", DeprecationWarning)

In [8]:
#Create a DataFrame
df = pd.DataFrame(X)
print(df)

        0    1    2      3    4     5     6          7    8    9   10  \
0     1.0  0.0  0.0  619.0  0.0  42.0   2.0       0.00  1.0  1.0  1.0
1     0.0  0.0  1.0  608.0  0.0  41.0   1.0   83807.86  1.0  0.0  1.0
2     1.0  0.0  0.0  502.0  0.0  42.0   8.0  159660.80  3.0  1.0  0.0
3     1.0  0.0  0.0  699.0  0.0  39.0   1.0       0.00  2.0  0.0  0.0
4     0.0  0.0  1.0  850.0  0.0  43.0   2.0  125510.82  1.0  1.0  1.0
...   ...  ...  ...    ...  ...   ...   ...        ...  ...  ...  ...
9995  1.0  0.0  0.0  771.0  1.0  39.0   5.0       0.00  2.0  1.0  0.0
9996  1.0  0.0  0.0  516.0  1.0  35.0  10.0   57369.61  1.0  1.0  1.0
9997  1.0  0.0  0.0  709.0  0.0  36.0   7.0       0.00  1.0  0.0  1.0
9998  0.0  1.0  0.0  772.0  1.0  42.0   3.0   75075.31  2.0  1.0  0.0
9999  1.0  0.0  0.0  792.0  0.0  28.0   4.0  130142.79  1.0  1.0  0.0

             11
0     101348.88
1     112542.58
2     113931.57
3      93826.63
4      79084.10
...         ...
9995   96270.64
9996  101699.77
9997   42085.58
9998   92888.52
9999   38190.78

[10000 rows x 12 columns]

In [9]:
X = X[:, 1:] # Removing the first column as not required

In [10]:
#Create a DataFrame
df = pd.DataFrame(X)
print(df)

        0    1      2    3     4     5          6    7    8    9         10
0     0.0  0.0  619.0  0.0  42.0   2.0       0.00  1.0  1.0  1.0  101348.88
1     0.0  1.0  608.0  0.0  41.0   1.0   83807.86  1.0  0.0  1.0  112542.58
2     0.0  0.0  502.0  0.0  42.0   8.0  159660.80  3.0  1.0  0.0  113931.57
3     0.0  0.0  699.0  0.0  39.0   1.0       0.00  2.0  0.0  0.0   93826.63
4     0.0  1.0  850.0  0.0  43.0   2.0  125510.82  1.0  1.0  1.0   79084.10
...   ...  ...    ...  ...   ...   ...        ...  ...  ...  ...        ...
9995  0.0  0.0  771.0  1.0  39.0   5.0       0.00  2.0  1.0  0.0   96270.64
9996  0.0  0.0  516.0  1.0  35.0  10.0   57369.61  1.0  1.0  1.0  101699.77
9997  0.0  0.0  709.0  0.0  36.0   7.0       0.00  1.0  0.0  1.0   42085.58
9998  1.0  0.0  772.0  1.0  42.0   3.0   75075.31  2.0  1.0  0.0   92888.52
9999  0.0  0.0  792.0  0.0  28.0   4.0  130142.79  1.0  1.0  0.0   38190.78

[10000 rows x 11 columns]

### As y is already is numerical format(0,1) no need to encode if y was categorical then need to encode

## 4. Splitting the dataset

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

## 5. Feature Scaling
- We dont want One IV domination over other IV So Feature scaling
- Also as we do lot of computation and parellel computation it is necessary to do scaling

In [12]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

# Part 2 :- Building an ANN

## Importing Keras and the modules:- Sequential and Dense
## Sequential Module :- Initialize the NN
## Dense Module :- Build the layers of ANN
- First we will initialize the neural network and then we will build the layers of ANN

In [13]:
import keras
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.

In [14]:
# Initialising the layers of ANN
classifier = Sequential()

WARNING:tensorflow:From C:\Users\Dell\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:74: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [15]:
# Adding the input layer and the first hidden layer
classifier.add(Dense(output_dim = 6, kernel_initializer = 'uniform', activation = 'relu', input_dim = 11))

WARNING:tensorflow:From C:\Users\Dell\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:517: The name tf.placeholder is deprecated. Please use tf.compat.v1.placeholder instead.

WARNING:tensorflow:From C:\Users\Dell\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:4138: The name tf.random_uniform is deprecated. Please use tf.random.uniform instead.

C:\Users\Dell\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(kernel_initializer="uniform", activation="relu", input_dim=11, units=6)`

In [16]:
# Adding the second hidden layer
classifier.add(Dense(output_dim = 6, kernel_initializer = 'uniform', activation = 'relu'))

C:\Users\Dell\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(kernel_initializer="uniform", activation="relu", units=6)`

In [17]:
# Adding the output layer
classifier.add(Dense(output_dim = 1, kernel_initializer = 'uniform', activation = 'sigmoid'))

C:\Users\Dell\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(kernel_initializer="uniform", activation="sigmoid", units=1)`

## 7. After adding all the layers compile the ANN

In [18]:
# Compiling the ANN
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

WARNING:tensorflow:From C:\Users\Dell\Anaconda3\lib\site-packages\keras\optimizers.py:790: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

WARNING:tensorflow:From C:\Users\Dell\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:3376: The name tf.log is deprecated. Please use tf.math.log instead.

WARNING:tensorflow:From C:\Users\Dell\Anaconda3\lib\site-packages\tensorflow_core\python\ops\nn_impl.py:183: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

## 8. Choosing epochs and running the model

In [19]:
# Fitting the ANN to the Training set
classifier.fit(X_train, y_train, batch_size = 10, epochs = 100)

WARNING:tensorflow:From C:\Users\Dell\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:986: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From C:\Users\Dell\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:973: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

WARNING:tensorflow:From C:\Users\Dell\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:2741: The name tf.Session is deprecated. Please use tf.compat.v1.Session instead.

Epoch 1/100
WARNING:tensorflow:From C:\Users\Dell\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:174: The name tf.get_default_session is deprecated. Please use tf.compat.v1.get_default_session instead.

WARNING:tensorflow:From C:\Users\Dell\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:181: The name tf.ConfigProto is deprecated. Please use tf.compat.v1.ConfigProto instead.

WARNING:tensorflow:From C:\Users\Dell\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:190: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

WARNING:tensorflow:From C:\Users\Dell\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:199: The name tf.is_variable_initialized is deprecated. Please use tf.compat.v1.is_variable_initialized instead.

WARNING:tensorflow:From C:\Users\Dell\Anaconda3\lib\site-packages\keras\backend\tensorflow_backend.py:206: The name tf.variables_initializer is deprecated. Please use tf.compat.v1.variables_initializer instead.

8000/8000 [==============================] - 5s 625us/step - loss: 0.4841 - acc: 0.7951
Epoch 2/100
8000/8000 [==============================] - 1s 148us/step - loss: 0.4285 - acc: 0.7960
Epoch 3/100
8000/8000 [==============================] - 1s 173us/step - loss: 0.4234 - acc: 0.7960
Epoch 4/100
8000/8000 [==============================] - 1s 151us/step - loss: 0.4194 - acc: 0.8160
Epoch 5/100
8000/8000 [==============================] - 1s 148us/step - loss: 0.4166 - acc: 0.8261
Epoch 6/100
8000/8000 [==============================] - 1s 149us/step - loss: 0.4148 - acc: 0.8294
Epoch 7/100
8000/8000 [==============================] - 1s 157us/step - loss: 0.4133 - acc: 0.8316
Epoch 8/100
8000/8000 [==============================] - 1s 164us/step - loss: 0.4119 - acc: 0.8331
Epoch 9/100
8000/8000 [==============================] - 1s 162us/step - loss: 0.4112 - acc: 0.8322
Epoch 10/100
8000/8000 [==============================] - 1s 145us/step - loss: 0.4104 - acc: 0.8330
Epoch 11/100
8000/8000 [==============================] - 1s 150us/step - loss: 0.4094 - acc: 0.8326
Epoch 12/100
8000/8000 [==============================] - 1s 154us/step - loss: 0.4095 - acc: 0.8322
Epoch 13/100
8000/8000 [==============================] - 1s 154us/step - loss: 0.4086 - acc: 0.8350
Epoch 14/100
8000/8000 [==============================] - 2s 190us/step - loss: 0.4076 - acc: 0.8339
Epoch 15/100
8000/8000 [==============================] - 1s 146us/step - loss: 0.4069 - acc: 0.8344
Epoch 16/100
8000/8000 [==============================] - 1s 166us/step - loss: 0.4062 - acc: 0.8336
Epoch 17/100
8000/8000 [==============================] - 1s 148us/step - loss: 0.4058 - acc: 0.8322
Epoch 18/100
8000/8000 [==============================] - 1s 166us/step - loss: 0.4039 - acc: 0.8334
Epoch 19/100
8000/8000 [==============================] - 1s 156us/step - loss: 0.4029 - acc: 0.8346
Epoch 20/100
8000/8000 [==============================] - 1s 150us/step - loss: 0.4023 - acc: 0.8330
Epoch 21/100
8000/8000 [==============================] - 1s 148us/step - loss: 0.4014 - acc: 0.8359
Epoch 22/100
8000/8000 [==============================] - 1s 154us/step - loss: 0.4004 - acc: 0.8350
Epoch 23/100
8000/8000 [==============================] - 1s 146us/step - loss: 0.4002 - acc: 0.8336
Epoch 24/100
8000/8000 [==============================] - 1s 146us/step - loss: 0.4002 - acc: 0.8356
Epoch 25/100
8000/8000 [==============================] - 1s 147us/step - loss: 0.3992 - acc: 0.8350
Epoch 26/100
8000/8000 [==============================] - 1s 165us/step - loss: 0.3993 - acc: 0.8359
Epoch 27/100
8000/8000 [==============================] - 1s 182us/step - loss: 0.3983 - acc: 0.8355
Epoch 28/100
8000/8000 [==============================] - 1s 150us/step - loss: 0.3982 - acc: 0.8351
Epoch 29/100
8000/8000 [==============================] - 1s 145us/step - loss: 0.3979 - acc: 0.8335
Epoch 30/100
8000/8000 [==============================] - 1s 145us/step - loss: 0.3977 - acc: 0.8352
Epoch 31/100
8000/8000 [==============================] - 1s 146us/step - loss: 0.3975 - acc: 0.8342
Epoch 32/100
8000/8000 [==============================] - 1s 146us/step - loss: 0.3971 - acc: 0.8349
Epoch 33/100
8000/8000 [==============================] - 1s 145us/step - loss: 0.3974 - acc: 0.8331
Epoch 34/100
8000/8000 [==============================] - 1s 148us/step - loss: 0.3972 - acc: 0.8347
Epoch 35/100
8000/8000 [==============================] - 1s 156us/step - loss: 0.3960 - acc: 0.8357
Epoch 36/100
8000/8000 [==============================] - 1s 146us/step - loss: 0.3961 - acc: 0.8342
Epoch 37/100
8000/8000 [==============================] - 1s 146us/step - loss: 0.3968 - acc: 0.8325
Epoch 38/100
8000/8000 [==============================] - 1s 150us/step - loss: 0.3968 - acc: 0.8354
Epoch 39/100
8000/8000 [==============================] - 1s 152us/step - loss: 0.3958 - acc: 0.8339
Epoch 40/100
8000/8000 [==============================] - 1s 187us/step - loss: 0.3953 - acc: 0.8340
Epoch 41/100
8000/8000 [==============================] - 1s 154us/step - loss: 0.3965 - acc: 0.8341
Epoch 42/100
8000/8000 [==============================] - 1s 149us/step - loss: 0.3961 - acc: 0.8344
Epoch 43/100
8000/8000 [==============================] - 1s 149us/step - loss: 0.3963 - acc: 0.8362
Epoch 44/100
8000/8000 [==============================] - 1s 159us/step - loss: 0.3959 - acc: 0.8336
Epoch 45/100
8000/8000 [==============================] - 1s 158us/step - loss: 0.3962 - acc: 0.8365
Epoch 46/100
8000/8000 [==============================] - 1s 150us/step - loss: 0.3963 - acc: 0.8342
Epoch 47/100
8000/8000 [==============================] - 1s 149us/step - loss: 0.3956 - acc: 0.8366
Epoch 48/100
8000/8000 [==============================] - 1s 151us/step - loss: 0.3958 - acc: 0.8335
Epoch 49/100
8000/8000 [==============================] - 1s 150us/step - loss: 0.3960 - acc: 0.8354
Epoch 50/100
8000/8000 [==============================] - 1s 150us/step - loss: 0.3959 - acc: 0.8351
Epoch 51/100
8000/8000 [==============================] - 1s 146us/step - loss: 0.3961 - acc: 0.8359
Epoch 52/100
8000/8000 [==============================] - 1s 175us/step - loss: 0.3958 - acc: 0.8344
Epoch 53/100
8000/8000 [==============================] - 1s 180us/step - loss: 0.3957 - acc: 0.8369
Epoch 54/100
8000/8000 [==============================] - 1s 162us/step - loss: 0.3952 - acc: 0.8346
Epoch 55/100
8000/8000 [==============================] - 1s 164us/step - loss: 0.3954 - acc: 0.8351
Epoch 56/100
8000/8000 [==============================] - 1s 147us/step - loss: 0.3956 - acc: 0.8336
Epoch 57/100
8000/8000 [==============================] - 1s 149us/step - loss: 0.3960 - acc: 0.8352
Epoch 58/100
8000/8000 [==============================] - 1s 145us/step - loss: 0.3955 - acc: 0.8345
Epoch 59/100
8000/8000 [==============================] - 1s 149us/step - loss: 0.3957 - acc: 0.8367
Epoch 60/100
8000/8000 [==============================] - 1s 146us/step - loss: 0.3955 - acc: 0.8350
Epoch 61/100
8000/8000 [==============================] - 1s 149us/step - loss: 0.3957 - acc: 0.8347
Epoch 62/100
8000/8000 [==============================] - 1s 150us/step - loss: 0.3957 - acc: 0.8350 1s - loss:
Epoch 63/100
8000/8000 [==============================] - 1s 148us/step - loss: 0.3952 - acc: 0.8354
Epoch 64/100
8000/8000 [==============================] - 1s 147us/step - loss: 0.3956 - acc: 0.8352
Epoch 65/100
8000/8000 [==============================] - 1s 157us/step - loss: 0.3952 - acc: 0.8335
Epoch 66/100

8000/8000 [==============================] - 1s 175us/step - loss: 0.3954 - acc: 0.8352
Epoch 67/100
8000/8000 [==============================] - 1s 144us/step - loss: 0.3958 - acc: 0.8332
Epoch 68/100
8000/8000 [==============================] - 1s 142us/step - loss: 0.3954 - acc: 0.8346
Epoch 69/100
8000/8000 [==============================] - 1s 153us/step - loss: 0.3951 - acc: 0.8344
Epoch 70/100
8000/8000 [==============================] - 1s 162us/step - loss: 0.3950 - acc: 0.8367
Epoch 71/100
8000/8000 [==============================] - 1s 153us/step - loss: 0.3954 - acc: 0.8347
Epoch 72/100
8000/8000 [==============================] - 1s 149us/step - loss: 0.3954 - acc: 0.8355
Epoch 73/100
8000/8000 [==============================] - 1s 150us/step - loss: 0.3951 - acc: 0.8361
Epoch 74/100
8000/8000 [==============================] - 1s 150us/step - loss: 0.3947 - acc: 0.8364
Epoch 75/100
8000/8000 [==============================] - 1s 171us/step - loss: 0.3953 - acc: 0.8345
Epoch 76/100
8000/8000 [==============================] - 1s 163us/step - loss: 0.3949 - acc: 0.8355
Epoch 77/100
8000/8000 [==============================] - 1s 152us/step - loss: 0.3952 - acc: 0.8355
Epoch 78/100
8000/8000 [==============================] - 1s 160us/step - loss: 0.3958 - acc: 0.8339
Epoch 79/100
8000/8000 [==============================] - 2s 190us/step - loss: 0.3944 - acc: 0.8349
Epoch 80/100
8000/8000 [==============================] - 1s 149us/step - loss: 0.3952 - acc: 0.8356
Epoch 81/100
8000/8000 [==============================] - 1s 147us/step - loss: 0.3946 - acc: 0.8364
Epoch 82/100
8000/8000 [==============================] - 1s 146us/step - loss: 0.3951 - acc: 0.8345
Epoch 83/100
8000/8000 [==============================] - 1s 146us/step - loss: 0.3946 - acc: 0.8361
Epoch 84/100
8000/8000 [==============================] - 1s 155us/step - loss: 0.3955 - acc: 0.8339
Epoch 85/100
8000/8000 [==============================] - 1s 145us/step - loss: 0.3952 - acc: 0.8334
Epoch 86/100
8000/8000 [==============================] - 1s 152us/step - loss: 0.3950 - acc: 0.8340
Epoch 87/100
8000/8000 [==============================] - 1s 145us/step - loss: 0.3947 - acc: 0.8330
Epoch 88/100
8000/8000 [==============================] - 1s 156us/step - loss: 0.3951 - acc: 0.8341
Epoch 89/100
8000/8000 [==============================] - 1s 171us/step - loss: 0.3949 - acc: 0.8351
Epoch 90/100
8000/8000 [==============================] - 1s 180us/step - loss: 0.3948 - acc: 0.8364
Epoch 91/100
8000/8000 [==============================] - 2s 196us/step - loss: 0.3950 - acc: 0.8344
Epoch 92/100
8000/8000 [==============================] - 2s 190us/step - loss: 0.3945 - acc: 0.8356
Epoch 93/100
8000/8000 [==============================] - 1s 142us/step - loss: 0.3946 - acc: 0.8355
Epoch 94/100
8000/8000 [==============================] - 1s 146us/step - loss: 0.3947 - acc: 0.8342
Epoch 95/100
8000/8000 [==============================] - 1s 139us/step - loss: 0.3948 - acc: 0.8357
Epoch 96/100
8000/8000 [==============================] - 1s 132us/step - loss: 0.3943 - acc: 0.8352
Epoch 97/100
8000/8000 [==============================] - 1s 131us/step - loss: 0.3950 - acc: 0.8362
Epoch 98/100
8000/8000 [==============================] - 1s 131us/step - loss: 0.3945 - acc: 0.8367
Epoch 99/100
8000/8000 [==============================] - 1s 141us/step - loss: 0.3950 - acc: 0.8361
Epoch 100/100
8000/8000 [==============================] - 1s 137us/step - loss: 0.3946 - acc: 0.8341

# Part 3 - Making predictions and evaluating the model

In [20]:
# Predicting the Test set results
y_pred = classifier.predict(X_test)
# As the prediction will be in probabilities we have to put thresshold and make it as 0 or 1
y_pred = (y_pred > 0.5)

In [21]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)

In [22]:
cm

array([[1544,   51],
       [ 263,  142]], dtype=int64)

In [24]:
(1544+142)/2000

0.843

# Home Work

## We have a new customers which bank gave us who was not present in the original dataset.
###  Now we have to predict wheather this new customer will stay or leave.
- These are the information given by bank about new customer
-# Predicting a single new observation
"""Predict if the customer with the following informations will leave the bank:
Geography: France
Credit Score: 600
Gender: Male
Age: 40
Tenure: 3
Balance: 60000
Number of Products: 2
Has Credit Card: Yes
Is Active Member: Yes
Estimated Salary: 50000"""

## We can solve this by creating a dataframe of info of new customer or just typing the info in an array and using it same a X_test to predict

### We have to put the info of new customer in horizontal manner same as original dataset 
- np.array([[0.0, 0, 600, 1, 40, 3, 60000, 2, 1, 1, 50000]])))
- [[]] double bracket will create 2 dim array and info in horizontal manner

## Also we have to scale the data as we did earlier on X_train. using same sc.tranform will give same scaler values

In [21]:
new_prediction = classifier.predict(sc.transform(np.array([[0.0, 0, 600, 1, 40, 3, 60000, 2, 1, 1, 50000]])))
new_prediction = (new_prediction > 0.5)
new_prediction

array([[False]])